# Suppress: EC112
# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

[*]
indent_style = space
guidelines = 80

[*.cs]
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8